@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

html {
  scroll-behavior: smooth;
}

#projects,
#skills,
#experience,
#education,
#contact {
  scroll-margin-top: 100px;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

#my-name {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: oblique;
  font-size: larger;
}
